 .parallax-container {
    /*  height: 1000px;*/
    /* width: 80%;*/

    }
.truputis{

    font-family: GillSans;
 /*GillSans; Calibri, Trebuchet, sans-serif;*/

}
.small{
width: 150px;
border-radius: 20px;
}
.namai{
	display: inline !important ;
}
#first{
	/*transition: 1.0s all !important;*/
	opacity: 1;
}
body{
	background-image: url("../images/background.png");

}
