<header>
		<div>

			<!-- Dropdown Structure -->
			<ul id="dropdown2"  class="dropdown-content  light-blue lighten-3">
				<li><a href="about.php">Apie mus</a></li>
				<li class="divider"></li>
				<li><a href="about.php?name=valentas">Valentas</a></li>
				<li><a href="about.php?name=darius">Darius</a></li>
				<li><a href="about.php?name=paulius">Paulius</a></li>
			</ul>
			<nav>
				<div class="nav-wrapper grey darken-2">
					<ul id="slide-out" class="side-nav  orange darken-3">
						<li><a href="index.php">Namai</a></li>
						<li><a href="type.php">Tipai</a></li>
						<li class="no-padding">
							<ul class="collapsible collapsible-accordion">
								<li>
									<a class="collapsible-header ">Apie mus<i class="material-icons">arrow_drop_down</i></a>
									<div class="collapsible-body">
										<ul class="orange darken-1">
											<li class="divider"></li>
											<li><a href="about.php?name=valentas">Valentas</a></li>
											<li><a href="about.php?name=darius">Darius</a></li>
											<li><a href="about.php?name=paulius">Paulius</a></li>
										</ul>
									</div>
								</li>
							</ul>
						</li>
					</ul>
					<a href="#" data-activates="slide-out" class="button-collapse hide-on-large-only"><i class="material-icons">menu</i></a>
	<!-- Logo -->
					<a href="/" class="brand-logo"><img id="headimg" src="images/img1.jpg "></a>    
					<ul class="right hide-on-med-and-down">
						<li><a href="index.php">Namai</a></li>
						<li><a href="type.php">Tipai</a></li>
						<!-- Dropdown Trigger -->
						<li><a class="dropdown-button" href="about.php" data-activates="dropdown2">Apie mus<i class="material-icons right">arrow_drop_down</i></a></li>
					</ul>
				</div>
			</nav>
		
			<nav class=" grey">
				<div class="nav-wrapper">
					<div class="col s12 m8 l6">
						<a  href="index.php" class="breadcrumb breadtxt namai">Namai</a>
						<a  href="type.php" class="breadcrumb breadtxt tipai">Tipai</a>
						<a  href="brand.php" class="breadcrumb breadtxt gamintojai">Gamintojai</a>
						<a  href="about.php" class="breadcrumb breadtxt apiemus">Apie mus</a>
					</div>
				</div>
			</nav>
		</div>
	</header>